* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    color: #f5f5f5;
    /*position: relative;       firefox no likey this*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../wallpaper_mountain_stars.jpg) 50% 50% fixed;
    background-size: cover;
}


/* ----- Taskbar ----- */

.toolbar {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 80%;
    padding: 5px;
    padding-bottom: 1px;
    background-color: #d1404a;
    margin-left: 10%;
    border-radius: 5px 5px 0px 0px;
}

.toolbar-programm {
    height: 60px;
    float: left;
    text-align: center;
    margin: 0px 5px;
}

i.taskbar-icon {
    font-size: 35px;
    margin: 2.5px;
    margin-bottom: 0.5px;
}

p.taskbar-text {
    margin: 0;
    text-align: center;
}


/* ----- Widgets ----- */

.widget {
    color: #f5f5f5;
    border: 2px solid #333333;
    width: 300px;
    height: 350px;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 6px;
    display: none;
    position: absolute;
}

.widget.active {
    display: block;
}

.widget-topbar {
    background-color: #d1404a;
    padding: 5px;
    margin: -2px -2px 0 -2px;
    border-radius: 5px 5px 0 0;
    color: #f5f5f5;
    position: relative;
    border: 2px solid #bf3941;
    border-bottom: 0px;
    height: 30px;
}

.widget-title {
    margin: 0;
    font-style: italic;
}

.widget-nav {
    position: absolute;
    right: 5px;
    top: 5px;
}

.widget-nav .fa {
    margin: 0 2.5px;
}

.widget-body {
    padding: 5px;
}

.widget-row {
    display: table-row;
}

.widget-cell {
    display: table-cell;
}



/*    Specific Widgets     */
#widget-cv {
    z-index: 10;
    width: 400px;
    left: 10%;
    top: 15%;
}

#widget-contact {
    left: 60%;
    top: 10%;
}



/* ----- Useful stuff ------*/

.default-cursor {
    cursor: default;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.float-right {
    float: right;
}
