body.windows98-HTML {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    background: rgb(0, 123, 123);
}


/*   Widget container in general   */
.windows98-widget {
    border: 3px solid;
    border-top-color: rgb(189, 189, 189);
    border-left-color: rgb(189, 189, 189);
    border-bottom-color: rgb(123, 123, 123);
    border-right-color: rgb(123, 123, 123);
    border-radius: 0;
    background-color: rgb(189, 189, 189);
}



/*   Topbar and contained elements   */
.windows98-widget .widget-topbar {
    background: rgb(140, 140, 140);
    height: 25px;
    border: 0;
    border-radius: 0;
    padding: 1px 5px;
    margin: 0;
}

.windows98-widget .widget-title {
    color: rgb(189, 189, 189);
    font-style: normal;
}

.windows98-widget.selected .widget-topbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00007b+0,0884ce+100 */
    background: #00007b; /* Old browsers */
    background: -moz-linear-gradient(left, #00007b 0%, #0884ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00007b 0%,#0884ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00007b 0%,#0884ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00007b', endColorstr='#0884ce',GradientType=1 ); /* IE6-9 */
}

.windows98-widget.selected .widget-title {
    color: rgb(255, 255, 255);
}

.windows98-widget .widget-topbar-buttoncontainer {
    margin-top: -1px;
    background-color: rgb(189, 189, 189);
    border: 2px solid;
    border-top-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-bottom-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
}

.windows98-widget .widget-topbar-buttoncontainer i {
    color: black;
}



/*   Body and contained elements   */
.windows98-widget .widget-body{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 3px 0;
    border-radius: 0;
    border: 2px solid;
    border-top-color: rgb(123, 123, 123);
    border-left-color: rgb(123, 123, 123);
    border-right-color: rgb(222, 222, 222);
    border-bottom-color: rgb(222, 222, 222);
}



/*   Taskbar and widget buttons   */
.windows98-taskbar {
    color: black;
    width: 100%;
    margin: 0;
    padding: 2px;
    background-color: rgb(189, 189, 189);
    border-radius: 0;
    border-top: 2px solid;
    border-top-color: rgb(222, 222, 222);
}

.windows98-taskbar .taskbar-programm, .windows98-taskbar .startmenu {
    margin: 0;
    padding: 1px;
    border: 2px solid;
    border-left-color: rgb(230, 230, 230);
    border-top-color: rgb(230, 230, 230);
    border-bottom-color: rgb(50, 50, 50);
    border-right-color: rgb(50, 50, 50);
    text-align: left;
}

.windows98-taskbar i.taskbar-icon, .windows98-taskbar i.startmenu-icon {
    float: left;
}

.windows98-taskbar p.taskbar-text, .windows98-taskbar p.startmenu-text {
    float: left;
    margin: 0 4px;
}

.windows98-taskbar .startmenu {
    font-weight: bold;
}

.windows98-taskbar .taskbar-programm {
    width: 20%;
}
