/*  CV   */
#widget-cv {
    z-index: 10;
    left: 8%;
    top: 10%;
}

#widget-cv .widget-body {
    width: 600px;
    height: 300px;
}


/*   Contact me   */
#widget-contact {
    z-index: 8;
    left: 55%;
    top: 13%;
}


/*   Imprint   */
#widget-imprint {
    z-index: 5;
    top: 2%;
    left: 60%;
}

#widget-imprint .widget-body {
    height: 85vh;
    width: 39vw;
}

#imprint {
    float: left;
}
