<div class="widget"
     *ngIf="isOpen()"

     [ngStyle]="{
        'left': x,
        'top': y,
        'z-index': zIndex().toString()
      }"
     [class.selected]="isTopWidget()"
     [class.maximized]="maximized"
     (mousedown)="activate()"

     [ngDraggable]="dragEnabled"
     [bounds]="bounds"
     [handle]="handle"
     [inBounds]="true"
>

    <div #handle class="topbar no-select">
        <div *ngIf="displayTopButtons" class="control-buttoncontainer float-right">
            <fa name="window-close" (click)="close()"></fa>
        </div>
        <div *ngIf="displayTopButtons" class="control-buttoncontainer float-right no-mobile">
            <fa [name]="maximized ? 'window-restore' : 'window-maximize'" (click)="maximized = !maximized"></fa> <!-- TODO Figure out correct "maximize" icon -->
        </div>
        <h1 class="float-left">{{title}}</h1>
    </div>

    <div class="body"
         [ngStyle]="{
            'width': width,
            'height': height
         }"
         [class.maximized]="maximized">
        <ng-content></ng-content>
    </div>

</div>
