.widget .topbar {
    background: #00007b; /* Old browsers */
    background: -moz-linear-gradient(left, #00007b 0%, #0884ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00007b 0%,#0884ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00007b 0%,#0884ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00007b', endColorstr='#0884ce',GradientType=1 ); /* IE6-9 */
}

.widget {
    z-index: 100 !important;
}