<footer>
  <p class="shell-line command" aria-hidden="true">
    <span>$</span>
    <span>ls</span>
    <span>/friends/</span>
    <br />
    <span style="margin-left: 1em">
      <a href="https://bonsaibeef.de" rel="external">bonsaibeef.de</a>
      <a href="https://kritzl.dev" rel="external">kritzl</a>
      <a href="https://oleb.it/" rel="external">olebit</a>
      <a href="https://traumweh.dev/" rel="external">Traumweh</a>
    </span>
  </p>

  <p class="shell-line cursor" aria-hidden="true">
    <span>$</span>
    <span></span>
  </p>
</footer>