<header>
  <nav>
    <p class="shell-line command" style="margin: 0">
      <span>$</span>
      <span>ls</span>
      <span>/nav/</span>
      <br />
      <span style="margin-left: 1em">
        <a href="/">Home</a>
        <a href="/projects.html">Projects</a>
      </span>
    </p>
  </nav>
</header>