<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/poly_fox.webp" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Finn Sell</title>

  <link rel="stylesheet" href="/src/base.css" />
  <link rel="stylesheet" href="/src/color_scheme.css" />
  <link rel="stylesheet" href="/src/fonts.css" />
  <link rel="stylesheet" href="/src/blinking_cursor.css" />

  <link rel="preload" as="font" href="/assets/VT323-Regular.ttf" />
  <link rel="preload" as="font" href="/assets/CascadiaCode.woff2" />
</head>