<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/poly_fox.webp" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Finn Sell</title>

  <style>
    @import "/src/base.css"; @import "/src/color_scheme.css"; @import "/src/fonts.css"; @import
    "/src/blinking_cursor.css";
  </style>

  <link rel="preload" as="font" href="/assets/VT323-Regular.ttf" />
  <link rel="preload" as="font" href="/assets/CascadiaCode.woff2" />
</head>