<div class="shadow-inverse project">
    <h1>This Webpage</h1>
    <p>
        The first Project which comes to mind is this WebPage itself.<br>
        I built it using the AngularFramework and am hosting it on my own server.
    </p>
    <p>
        The page is completely Open-Source and you can find it's source code on my
        <a href="https://github.com/ftsell/homepage" target="_blank">GitHub</a>
    </p>
</div>


<div class="shadow-inverse project">
    <h1>Pixelflut</h1>
    <p>
        <i>Pixelflut</i> is a small game for programmers inspired by reddits
        <a href="https://www.reddit.com/r/place" target="_blank">r/place</a> and
        <a href="https://cccgoe.de/wiki/Pixelflut" target="_blank">CCCGOE's implementation</a>. <br>
    </p>
    <p>
        You can participate by sending a TCP package to <code>finn-thorben.me:9876</code>
        in the format <code>PX $X $Y $COLOR\n</code>. <br>
        <i>$X</i> is the x coordinate (maximum = {{pxCanvasWidth}}) <br>
        <i>$Y</i> is the y coordinate (maximum = {{pxCanvasHeight}}) <br>
        <i>$COLOR</i> is the HEX encoded rgba value where a is optional (no '#' character)
    </p>
    <p>
        More information is available by sending <code>HELP\n</code> to the same server.
    </p>
    <canvas id="pixelflut-canvas" width="800" height="600"></canvas>
</div>


<div class="shadow-inverse project">
    <h1>Coding statistics</h1>
    <!--figure>
        <embed src="https://wakatime.com/share/@ftsell/0a0ef242-8431-4795-8fe5-30890cd5fb54.svg"/>
    </figure-->
    <figure>
        <embed src="https://wakatime.com/share/@ftsell/e3ce957f-28a8-430c-b32a-1b85bb7b5ca6.svg"/>
    </figure>
</div>
