<div class="widget"
     *ngIf="desktopService.isOpen(this)"
     [ngStyle]="{'left': posX, 'top': posY, 'z-index': desktopService.getPosition(this)}"
     [class.selected]="desktopService.isTopWidget(this)"
     (mousedown)="desktopService.open(this)"
     ngDraggable
     [handle]="handle"
     [bounds]="bounds"
     [inBounds]="true"
>
  <div #handle class="topbar">
    <div class="control-buttoncontainer" (click)="desktopService.close(this)">
      <fa name="times"></fa>
    </div>
    <h1 class="no-select">Curriculum Vitae</h1>
  </div>



  <div class="body" [ngStyle]="{'width': width, 'height': height}">
    <div>
      <p class="no-top-margin">
        Hello there I'm Finn-Thorben Sell.<br><br>
        I am currently pursuing my <i>Bachelor of Science in Computer Science</i> at
        the University of Hamburg.
      </p>

      <div id="table-education" class="float-left">
        <p class="no-top-margin no-bottom-margin">Education:</p>
        <table>
          <thead>
          <tr>
            <td>Year</td>
            <td>Event</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2017-now</td>
            <td>University</td>
          </tr>
          <tr>
            <td>2014</td>
            <td>Abroad in Canada</td>
          </tr>
          <tr>
            <td>2008-2017</td>
            <td>Highschool</td>
          </tr>
          <tr>
            <td>2004-2008</td>
            <td>Primary School</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div id="table-workexperience" class="float-right">
        <p class="no-top-margin no-bottom-margin">Prior work Experience:</p>
        <table>
          <thead>
          <tr>
            <td>Year</td>
            <td>Event</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2015</td>
            <td>Internship: <a href="https://www.popp-feinkost.de/" target="_blank" class="simple-link">
              Popp Feinkost</a></td>
          </tr>
          <tr>
            <td>2013</td>
            <td>Internship: <a href="https://www.lufthansa-technik.com/" target="_blank" class="simple-link">
              Lufthansa Technik AG</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>