.post-metadata {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;

  & > .post-tags > ul {
    display: flex;
    column-gap: var(--space-3xs-2xs);
    justify-content: end;

    & > li > * {
      color: var(--color-yellow1);
      &:hover {
        background-color: var(--color-yellow1);
        color: var(--color-black1);
      }
    }
  }
}
