/* Taskbar itself */
#taskbar {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2px;
    z-index: 100;

    color: black;
    background-color: rgb(189, 189, 189);
    border-radius: 0;
    border-top: 2px solid;
    border-top-color: rgb(222, 222, 222);
}



/* Taskbar programs */
.widget {
    float: left;
    display: flex;
    align-items: center;

    width: 18%;
    min-width: fit-content;
    max-width: 6.5cm;
    height: 95%;
    margin: 0 3px;
    padding: 1px 5px;
}

@media (max-width: 768px) {
    .widget {
        width: unset;
    }
}

.widget fa {
    font-size: 30px;
    margin: -3px 0;
}

.widget p {
    margin: 0;
    margin-left: 5px;
    text-align: center;
}



/* Startmenu */
#startmenu {
    width: auto;
}
