# editors
.idea
.vscode

# env files not meant for production
dev_db
**/.env.local
**/.env.dev
**/.env.dev.local

# artifacts and caches
.ruff_cache
.pytest_cache
**/__pycache__
**/staticfiles
.direnv
