use flake
dotenv dev/dev.env

pre-commit install

watch_file pyproject.toml \
    uv.lock \
    package.json \
	pnpm-lock.yaml

pnpm install

export UV_PROJECT=$(realpath .)
uv venv --allow-existing
uv sync
