# editors
.idea
.vscode
database.sqlite3
db.sqlite3

# development files
dev_db
.venv
**/.env.local
**/.env.*.local

# artifacts and caches
.ruff_cache
.pytest_cache
**/__pycache__
**/staticfiles
.direnv
result
