# editors
.idea
.vscode

# development files
**/.venv
**/.env.local
**/.env.*.local
db.sqlite3
node_modules

# artifacts and caches
.ruff_cache
.pytest_cache
**/__pycache__
**/staticfiles
.direnv
result
