Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "no-referrer"

Header set Content-Security-Policy "default-src: 'none'; script-src: 'self'"
Header set Strict-Transport-Security "max-age=15768000; preload"

Header unset Last-Modified

IndexIgnore verysecretriddles/*
