[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.110.0"       # python web framework
uvicorn = "~=0.29"          # http server
jinja2 = "~=3.1"            # templating engine

[dev-packages]
ipython = "*"
black = "*"
isort = "*"
pytest = "*"
httpx = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3"
