<div #root id="root">
    <app-widget
            [bounds]="root"
            icon="user-circle"
            title="Curriculum Vitae"
            x="6%"
            y="17%"
    >
        <app-cv></app-cv>
    </app-widget>

    <app-widget
            [bounds]="root"
            icon="address-book"
            title="Contact"
            width="570px"
            x="30%"
            y="6%"
    >
        <app-contact></app-contact>
    </app-widget>

    <app-widget
            [bounds]="root"
            icon="code"
            title="Coding"
            width="auto"
            [autoOpen]="false"
    >
        <app-coding></app-coding>
    </app-widget>

    <app-widget
            [bounds]="root"
            icon="gavel"
            title="Imprint"
            width="800px"
            x="50%"
            y="1%"
            [autoOpen]="false"
    >
        <app-imprint></app-imprint>
    </app-widget>

    <app-windows-update-widget #windowsUpdate_popup
            title="Windows Update"
            [waitTime]="300 * 1000"
            [postponeTime]="600 * 1000"
    >
        <app-windows-update [popup]="windowsUpdate_popup"></app-windows-update>
    </app-windows-update-widget>
</div>
