<div #root id="root">
    <app-widget
            [bounds]="root"
            icon="user-circle"
            title="Curriculum Vitae"
            x="4%"
            y="5%"
            width="900px"
            height="80vh"
    >
        <app-cv></app-cv>
    </app-widget>

    <app-widget
            [bounds]="root"
            icon="address-book"
            title="Contact"
            width="570px"
            x="55%"
            y="12%"
    >
        <app-contact></app-contact>
    </app-widget>

    <app-widget
            [bounds]="root"
            [autoOpen]="false"
            icon="code"
            title="Coding"
            width="auto"
            height="80vh"
            x="11%"
    >
        <app-coding></app-coding>
    </app-widget>

    <app-widget
            [bounds]="root"
            [autoOpen]="false"
            icon="gavel"
            title="Imprint"
            width="800px"
            height="90vh"
            x="calc(100vw - 820px)"
            y="1%"
    >
        <app-imprint></app-imprint>
    </app-widget>

    <app-windows-update-widget #windowsUpdate_popup
            title="Windows Update"
            [waitTime]="5 * 60 * 1000"
            [postponeTime]="60 * 60 * 1000"
    >
        <app-windows-update [popup]="windowsUpdate_popup"></app-windows-update>
    </app-windows-update-widget>
</div>
