{% extends "core/base.html" %}

{% block html_head_extra %}
  <meta name="description"
        content="Personal projects of Finn Sell which include maintenance of the py_simple_openid_connect library, development of a Pixelflut server and activity in Mafiasi (a student project at the Universiät Hamburg.">
{% endblock %}

{% block main %}
  <main>
    <div class="shell command">
      <div>$</div>
      <div>
        <span>cat /index.html</span>
      </div>
    </div>

    <h1>My Projects</h1>

    <details>
      <!-- prettier-ignore -->
      <summary><i>py_simple_openid_connect</i> - <span>Simple and opinionated OpenID Connect client library</span>
      </summary>
      <p class="centered-list">
        <a href="https://github.com/fsinfuhh/py_simple_openid_connect/" rel="external">GitHub</a>
        <a href="https://simple-openid-connect.readthedocs.io/en/stable/" rel="external">Documentation</a>
        <a href="https://pypi.org/project/simple_openid_connect/" rel="external">PyPi Page</a>
      </p>
      <p>
        This library implements the <i>Relying Party</i> and <i>Resource Server</i> parts of the OpenID
        Connect specification. It provides integrations into Django and Django-Rest-Framework, supports most
        commonly used OpenID Connect features but is designed to be as easy to use and understand as
        possible.
      </p>
    </details>

    <details>
      <summary><i>Pixelflut</i> - <span>A pixel drawing game for programmers</span></summary>
      <p class="centered-list">
        <a href="https://github.com/ftsell/pixelflut" rel="external">GitHub</a>
      </p>
      <p>
        Pixelflut is a game for programmers and other technical minded people in which bots are used to
        collaboratively or competitively draw on a shared canvas.
      </p>
    </details>

    <details>
      <summary><i>Mafiasi</i> - <span>Web-Services for university students</span></summary>
      <p>
        <a href="https://mafiasi.de" rel="external">mafiasi.de</a> is a website that offers various web based services
        for
        computer science students of the Universität Hamburg.<br />
      </p>
    </details>
  </main>
{% endblock %}
