#widget-windowsupdates {
    z-index: 1000;
    position: absolute;
    width: 600px;
    top: 30vh;
    left: 38vw;
}

#widget-windowsupdates .widget-body {
    overflow: hidden;
}

#widget-windowsupdates h2 {
    margin: 0;
    padding: 0;
    color: red;
}

#widget-windowsupdates button {
    float: right;
    padding: 5px 15px;
    background-color: rgb(189, 189, 189);
    font-weight: bold;
    border-radius: 0;
    border-left-color: rgb(230, 230, 230);
    border-top-color: rgb(230, 230, 230);
    border-bottom-color: rgb(50, 50, 50);
    border-right-color: rgb(50, 50, 50);
}