<div class="widget"
     [ngStyle]="{'left': posX, 'top': posY, 'z-index': desktopService.getPosition(this)}"
     *ngIf="desktopService.isOpen(this)"
     [class.selected]="desktopService.isTopWidget(this)"
     (click)="desktopService.open(this)"
>
  <div class="topbar">
    <div class="control-buttoncontainer">
      <fa name="times"></fa>
    </div>
    <h1>My Coding Activity</h1>
  </div>



  <div class="body" [ngStyle]="{'width': width, 'height': height}">
    <div>
      <!--
      <figure>
        <embed src="https://wakatime.com/share/@ftsell/0a0ef242-8431-4795-8fe5-30890cd5fb54.svg"/>
      </figure>
      -->
      <figure><embed src="https://wakatime.com/share/@ftsell/e3ce957f-28a8-430c-b32a-1b85bb7b5ca6.svg"/></figure>
    </div>
  </div>
</div>