{% from "homepage/macros.html" import anchor, command %}

<nav class="mb-8">
  {% call command("ls /nav") %}
    <menu class="horizontal-list">
      <li>{{ anchor(url("home"), "Home") }}</li>
      <li>{{ anchor(url("cv"), "CV") }}</li>
      <li>{{ anchor(url("projects"), "Projects") }}</li>
      <li>{{ anchor(url("blog-index"), "Thoughts") }}</li>
      <li>{{ anchor(url("guestbook"), "Guestbook") }}</li>
      <li class="flex-grow text-end">{{ anchor(url("legal"), "Legal") }}</li>
    </menu>
  {% endcall %}
</nav>
