{#
  Expects the following context:
  - post (object)
    - title
    - author
    - tags
    - lang
    - excerpt
    - created_at
    - edited_at (may be null)
#}
{% from "homepage/macros.html" import anchor %}

<ul class="flex flex-col items-end text-end">
  <li>
    <span>by </span>
    <span>{{ post.author }}</span>
  </li>

  <li>
    <ul class="flex gap-1 justify-end ">
      <li>
        {{ anchor("?lang=" + post.lang, "#" + post.lang, class="text-yellow1 hover:text-black1 hover:bg-yellow1") }}
      </li>
      {% for tag in post.tags %}
        <li>{{ anchor("?tag=" + tag, "#" + tag, class="text-yellow1 hover:text-black1 hover:bg-yellow1") }}</li>
      {% endfor %}
    </ul>
  </li>

  <li class="date">
    <span>Written on  </span>
    <time datetime="{{ post.created_at }}">{{ post.created_at }}</time>
    {% if post.edited_at %}
      <span>, last edit on </span>
      <time datetime="{{ post.edited_at }}">{{ post.edited_at }}</time>
    {% endif %}
  </li>
</ul>
