{% extends "core/base.html" %}

{% block main %}
    <main>
        <h1>Finns Blog</h1>
        <p>
            This is my small blog corner of the internet on which I post random things which I find interesting.
        </p>
        <ul>
            {% for category in categories %}
            	<li>
                    <a href="{% url "homepage_blog:category_index" category=category.tag %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
