{% extends "base.html" %}

{% block html_head_extra %}
    <meta name="description" content="CV of Finn Sell">
{% endblock %}

{% block extra_style %}
    <style>
        table {
            margin-top: 16px;
        }
        td, th {
            border: 1px solid grey;
            padding: 4px 12px;
        }
    </style>
{% endblock %}

{% block main %}
    <main>
        <div class="shell command">
            <div>$</div>
            <div>
                <span>cat /cv.html</span>
            </div>
        </div>

        <section id="introduction">
            <h2>Introduction</h2>
            <p>
                Hello there I'm Finn Sell.<br/>
                I am currently pursuing my <i>Master of Science in Computer Science</i> at the Universität
                Hamburg and consider myself as an activist and hacker.<br/>
                I'm engaging in different working groups at my university in the <a rel="external"
                                                                                    href="https://hamburg.ccc.de">CCCHH</a>
                and other political activism.
            </p>
            <p>
                If you want to get in contact, please use one of the methods listed on my <a href="/index.html#contact">main
                page</a>.
            </p>
        </section>

        <section id="cv">
            <h2>CV</h2>
            <table>
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Event</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2021-now</td>
                    <td>University - Master</td>
                    <td>
                        Since 2021 I am pursuing my <i>Master of Science in Computer Science</i> at the
                        Universität Hamburg.
                    </td>
                </tr>

                <tr>
                    <td>2021-now</td>
                    <td>SHK at TAMS (Universität Hamburg)</td>
                    <td>
                        I am currently, once again, employed as a student tutor teaching the
                        <i>Robocup Projekt</i> and <i>Robocup Praktikum</i> courses.
                    </td>
                </tr>

                <tr>
                    <td>2017-2021</td>
                    <td>University - Bachelor</td>
                    <td>
                        I have finished my <i>Bachelor of Science in Computer Science</i> degree in 2021 with
                        my final thesis about the
                        <i>Integration of Software Development Testing Practices in Robotics</i> (<a
                            href="/static/assets/bachelor_thesis_finn_sell.pdf"
                            target="_blank"
                    >BA-Thesis Download</a
                    >).
                    </td>
                </tr>
                <tr>
                    <td>2019-2020</td>
                    <td>
                        Working student at
                        <a
                                href="https://assessment.aon.com/en-us/"
                                target="_blank"
                                rel="external"
                        >AON Assessment Solutions</a
                        >
                    </td>
                    <td>
                        At AON I was tasked with multiple software development tasks including the creation
                        and evaluation of a browser-based frontend testing solution.
                    </td>
                </tr>
                <tr>
                    <td>2018-2019</td>
                    <td>SHK at Softwaretechnik (Universität Hamburg)</td>
                    <td>
                        I was employed as student tutor tasked with supporting new students to learn basic
                        programming principles and the Java programming language.
                    </td>
                </tr>
                <tr>
                    <td>2018-2018</td>
                    <td>SHK at Sicherheit in verteilten Systemen (Universität Hamburg)</td>
                    <td>
                        At SVS I was part of a team developing a system used for storing and processing
                        medical information. My tasks mostly consisted of implementing and managing the
                        Continuous Integration environment.
                    </td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>
                        Internship at
                        <a
                                href="https://www.popp-feinkost.de/"
                                target="_blank"
                                rel="external"
                        >
                            Popp Feinkost GmbH</a
                        >
                    </td>
                    <td>
                        This internship was one of the first steps into an IT oriented career at which I was
                        part of Popp's internal IT-Department.<br/>
                        My work there consisted of helping out in maintaining the company infrastructure,
                        refilling printer toner (of course) and automating small tasks with Excel Macros.
                    </td>
                </tr>
                <tr>
                    <td>2014</td>
                    <td>Year abroad in Canada</td>
                    <td>
                        I originally went to Canada to improve my english skill (which worked) and got a
                        second family in the process. We're still in close contact and have met again a few
                        times over the past years.
                    </td>
                </tr>
                <tr>
                    <td>2013</td>
                    <td>
                        Internship at
                        <a
                                href="https://www.lufthansa-technik.com/"
                                target="_blank"
                                rel="external"
                        >
                            Lufthansa Technik AG</a
                        >
                    </td>
                    <td>
                        During this internship I helped disassembling and assembling aircraft engines when
                        they underwent maintenance in Hamburg.<br/>
                        It was more of a manual labor type job; quite different from what I do now which
                        didn't make it any less interesting though and I enjoyed it a lot.
                    </td>
                </tr>
                <tr>
                    <td>2008-2017</td>
                    <td>Highschool</td>
                    <td>
                        I went to <i>Elsensee Gymnasium</i> in Quickborn until grade 11 at which point I did
                        my year abroad in Canada. Afterwards I continued my education at
                        <i>Berufsbildungszentrum Norderstedt</i> where I graduated with <i>Abitur</i> in 2017.
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
