{% extends "base.html" %}

{% block html_head_extra %}
  <meta name="description"
        content="Personal Homepage of Lilly Sell (a.k.a. ftsell), computer science student, activist, hacker and SysAdmin.">
{% endblock %}

{% block main %}
  <main>
    {% call utils.cmd("cat", "/index.html") %}
      <section id="introduction">
        {% call utils.h2("introduction") %}Hello There{% endcall %}
        <p>
          This is the personal homepage of me, Lilly Sell, also sometimes called
          <em>ftsell</em>. I'm a computer science student at the University of Hamburg, an activist, a hacker,
          a SysAdmin and sometimes all at once. My expertise and interests are System Administration and
          Automation, Networking (the computer kind) and creating fun applications for whatever seems useful.
          Additionally, I like learning things about privacy, security and how computers work from the ground
          up.
        </p>
      </section>

      <section id="contact">
        {% call utils.h2("contact") %}Contact{% endcall %}
        <p>I can be reached and found on any of these platforms:</p>
        <ul>
          <li>Email: <a href="mailto:hi@ftsell.de" rel="external">hi@ftsell.de</a></li>
          <li>
            Matrix:
            <a href="https://matrix.to/#/@17sell:mafiasi.de" rel="external">@17sell:mafiasi.de</a>
          </li>
          <li>
            GitHub:
            <a href="https://github.com/ftsell" rel="external me">ftsell</a>
          </li>
          <li>
            Mastodon:
            <a href="https://chaos.social/@ftsell" rel="external me">@ftsell@chaos.social</a>
          </li>
        </ul>
      </section>

      <section id="projects">
        {% call utils.h2("projects") %}Notable Projects{% endcall %}
        <p>
          I do have a more detailed <a href="/projects.html">list of projects</a> available here's a quick
          list of the most notable ones.
        </p>
        <details>
          <!-- prettier-ignore -->
          <summary><i>py_simple_openid_connect</i> - <span>Simple and opinionated OpenID Connect client library</span>
          </summary>
          <p class="centered-list">
            <a href="https://github.com/fsinfuhh/py_simple_openid_connect/" rel="external">GitHub</a>
            <a href="https://simple-openid-connect.readthedocs.io/en/stable/" rel="external">Documentation</a>
            <a href="https://pypi.org/project/simple_openid_connect/" rel="external">PyPi Page</a>
          </p>
          <p>
            This library implements the <i>Relying Party</i> and <i>Resource Server</i> parts of the OpenID
            Connect specification. It provides integrations into Django and Django-Rest-Framework, supports
            most commonly used OpenID Connect features but is designed to be as easy to use and understand as
            possible.
          </p>
        </details>

        <details>
          <summary><i>Pixelflut</i> - <span>A pixel drawing game for programmers</span></summary>
          <p class="centered-list">
            <a href="https://github.com/ftsell/pixelflut" rel="external">GitHub</a>
          </p>
          <p>
            Pixelflut is a game for programmers and other technical minded people in which bots are used to
            collaboratively or competitively draw on a shared canvas.
          </p>
          <p>
            There is also a dedicated <a href="/pixelflut.html">pixelflut site</a> available which has more information
            on how to participate and on which the current canvas content is always live-streamed.
          </p>
        </details>

        <details>
          <summary><i>Mafiasi</i> - <span>Web-Services for university students</span></summary>
          <p>
            <a href="https://mafiasi.de" rel="external">mafiasi.de</a> is a website that offers various web based services
            for computer science students of the Universität Hamburg.<br />
          </p>
        </details>
      </section>
    {% endcall %}
  </main>
{% endblock %}
