{% extends "base.html" %}

{% block html_head_extra %}
    <meta name="description"
          content="Legal documents regarding this website and all services hosted under my domain. Includes Imprint and Privacy Policy.">
{% endblock %}

{% block main %}
    <main>
        <section id="imprint">
            <div class="shell command">
                <div>$</div>
                <div>
                    <span>cat /legal/imprint.html</span>
                </div>
            </div>

            {% call utils.h2("imprint") %}<i>Not</i> Imprint{% endcall %}
            <p>
                This is my private, non-commercial website therefore an imprint containing my private address
                and phone number is not necessary.
            </p>
            <p>
                If you want to contact me you can choose your preferred network or method from the ones listed on the <a href="/index.html#contact">index page</a>
            </p>
        </section>

        <section id="privacy-policy">
            <div class="shell command" style="margin-top: 64px">
                <div>$</div>
                <div>
                    <span>cat /legal/privacy-policy.html</span>
                </div>
            </div>

            {% call utils.h2("privacy-policy") %}Privacy Policy{% endcall %}

            <h3>Summary</h3>
            <p>
                In short, neither this website nor any programs associated with it perform any sort of tracking.
                Metadata is also only stored for a very small amount of time and never sold nor automatically analyzed.
            </p>

            <h3>Scope of Application</h3>
            <p>
                This policy applies to pages that explicitly link to it and are hosted on one of the following domains or any of their subdomains:
                <ol>
                    <li>ftsell.de</li>
                    <li>finn-thorben.me</li>
                </ol>

                Additionally it applies to emails sent to and received from any addresses ending with the following domains:
                <ol>
                    <li>@ftsell.de</li>
                    <li>@finn-thorben.me</li>
                    <li>@timonengelke.de</li>
                    <li>@bit-bots.de</li>
                    <li>@sheaksadi.me</li>
                    <li>@bastianpermesang.com</li>
                    <li>@powolygon.gay</li>
                </ol>
            </p>

            <h3>Collected Information</h3>
            <h4>Web Services</h4>
            <p>
                The webserver temporarily stores access and error logs which include details about a users request such as the client IP-Addresse, and which webpage was requested.
                The logs are purged regularly and never stored for longer than 48 hours.
            </p>
            <p>
                The detailed nginx log format configuration can be seen below.
                Refer to the <a rel="external" href="http://nginx.org/en/docs/http/ngx_http_log_module.html">NGINX Documentation</a> for details about it.
            </p>

            <code>
                {"time": "$time_iso8601", "host": "$host", "status": "$status", "remote_addr": "$remote_addr", "request": "$request", "proxy_upstream": "$proxy_upstream_name", "request_length": "$request_length", "request_time": "$request_time" }
            </code>

            <h4>E-Mails</h4>
            <p>
                The mail server handling mails for the above mentioned domains which generates connection log entries when it receives E-Mails or sends E-Mails.
                The log contains information about the IP-Addresses and hostnames (determines via reverse-dns as well as SMTP-HELO) of connected clients as well as metadata about transferred mails.
                This metadata is limited to Recipient and Sender address of the mail, the content of the SMTP <code>RCPT TO</code> command and a unique ID per mail.
            </p>

            <h3>Purpose of Collection</h3>
            <p>
                The information collected is used to troubleshoot server errors and create IP or domain blocks when deemed necessary.
                The data is only stored on this server and will never be shared with any third party.
            </p>
        </section>
    </main>
{% endblock %}
