{% extends "base.html" %}

{% block html_head_extra %}
    <meta name="description"
          content="Detailed view of the pixelflut server at tcp://li.lly.sh:30000">
    <link rel="stylesheet" href="/static/styles/views/pixelflut.css">
    <script type="module" async src="/static/scripts/views/pixelflut.mjs"></script>
{% endblock %}

{% block main %}
    <main>
        {% call utils.cmd("cat", "/pixelflut.html") %}
            <p>
                There is a server running at <code>tcp://li.lly.sh:30000</code>.
                It has a canvas size of <i>800x600</i> pixels and its content is live-streamed below.
            </p>
            <p>
                You can interact with this server by opening your browser console and accessing the <code>window.px</code>
                object.
                E.g. <br>
                <code style="padding: 8px">
                    » px.send("HELP\n")
                </code>
            </p>
            <div id="pixelflut-livestream">
                <iframe src="https://li.lly.sh/stream/pixelflut?controls=false"
                        loading="eager"></iframe>
            </div>
        {% endcall %}
    </main>
{% endblock %}
