{% extends "base.html" %}

{% block html_head_extra %}
  <meta name="description"
        content="Detailed view of the pixelflut server at tcp://ftsell.de:1234">
  <script type="module" async>
    const RECONNECT_DELAY = 5_000;
    const SERVER_URL = "wss://ftsell.de/pixelflut.sock";

    function setupWebsocket(url) {
      if (window.px != null) {
        window.px.close();
      }

      console.info("Connecting to pixelflut server via WebSocket");
      window.px = new WebSocket(url);
      window.px.onopen = () => {
        console.info("WebSocket connection to pixelflut server established");
      };
      window.px.onclose = () => {
        console.error("WebSocket connection to pixelflut server lost, trying to reconnect in 5 seconds");
        setTimeout(setupWebsocket, RECONNECT_DELAY, url);
      };
      window.px.onerror = (e) => {
        console.warn("Error on WebSocket connection to pixelflut server", e);
      };
      window.px.onmessage = (e) => {
        console.info(e.data);
      };
    }

    document.addEventListener("DOMContentLoaded", () => {
      setupWebsocket(SERVER_URL);

    });
  </script>
{% endblock %}

{% block extra_style %}
  <style>
      code {
          font-size: large;
      }

      #pixelflut-livestream {
          display: flex;
          justify-content: center;
      }

      #pixelflut-livestream > iframe {
          border: none;
      }
  </style>
{% endblock %}

{% block main %}
  <main>
    <div class="shell command">
      <div>$</div>
      <div>
        <span>cat /pixelflut.html</span>
      </div>
    </div>

    <p>
      There is a server running at <code>tcp://ftsell.de:1234</code>.
      It has a canvas size of <i>800x600</i> pixels and its content is live-streamed below.
    </p>
    <p>
      You can interact with this server by opening your browser console and accessing the <code>window.px</code> object.
      E.g. <br>
      <code style="padding: 8px">
        » px.send("HELP\n")
      </code>
    </p>
    <div id="pixelflut-livestream">
      <iframe src="https://ftsell.de/stream/pixelflut?controls=false&playsinline=false" width="800" height="600"
              loading="eager"></iframe>
    </div>
  </main>
{% endblock %}
