{% extends "base.html" %}

{% block html_head_extra %}
<meta name="description"
    content="Personal projects of Lilly Sell which include maintenance of the py_simple_openid_connect library, development of a Pixelflut server and activity in Mafiasi (a student project at the Universiät Hamburg.">
<link rel="stylesheet" href="/static/styles/views/projects.css">
{% endblock %}

{% block main %}
<main>
    {% call utils.cmd("cat", "/projects.html") %}
        <h1>My Projects</h1>

        <details>
            <summary>This Website</summary>
            <p class="centered-link-list">
                <a href="https://github.com/lilioid/homepage.git" rel="external">GitHub</a>
            </p>
            <p>
                This website is coded by me as a hobby project and has gone through many iterations in different
                programming
                languages and framework.<br>
                It has by now evolved into a <a href="https://fastapi.tiangolo.com/" rel="external">FastAPI</a>
                application.
                The reason is that FastAPI gives me the power to implement exactly what I want while not being
                unnecessarily complex.
            </p>
        </details>

        <details>
            <summary><i>py_simple_openid_connect</i> - <span>Simple and opinionated OpenID Connect client library</span>
            </summary>
            <p class="centered-link-list">
                <a href="https://github.com/fsinfuhh/py_simple_openid_connect/" rel="external">GitHub</a>
                <a href="https://simple-openid-connect.readthedocs.io/en/stable/" rel="external">Documentation</a>
                <a href="https://pypi.org/project/simple_openid_connect/" rel="external">PyPi Page</a>
            </p>
            <p>
                This library implements the <i>Relying Party</i> and <i>Resource Server</i> parts of the OpenID
                Connect specification. It provides integrations into Django and Django-Rest-Framework, supports most
                commonly used OpenID Connect features but is designed to be as easy to use and understand as
                possible.
            </p>
        </details>

        <details>
            <summary><i>Pixelflut</i> - <span>A pixel drawing game for programmers</span></summary>
            <p class="centered-link-list">
                <a href="https://github.com/lilioid/pixeldike" rel="external">GitHub</a>
            </p>
            <p>
                Pixelflut is a game for programmers and other technical minded people in which bots are used to
                collaboratively or competitively draw on a shared canvas.
            </p>
            <p>
                There is a server running at <code style="font-size: large">tcp://lly.sh:1234</code>.
                It has a canvas size of <i>800x600</i> pixels and its content is live-streamed below.<br>
                For an interactive demo, a separate <a href="/pixelflut.html">pixelflut page</a> is also available.
            </p>
            <div id="pixelflut-livestream">
                <iframe src="https://li.lly.sh/stream/pixelflut?controls=false&playsinline=false" loading="lazy"></iframe>
            </div>
        </details>

        <details>
            <summary><i>Mafiasi</i> - <span>Web-Services for university students</span></summary>
            <p>
                <a href="https://mafiasi.de" rel="external">mafiasi.de</a> is a website that offers various web based
                services
                for
                computer science students of the Universität Hamburg.<br />
            </p>
        </details>

        <details>
            <summary>Programming Puzzles</summary>
            <a style="display: none" href="https://li.lly.sh/verysecretriddles" rel="external">very secret riddles</a>
            <p>
                Hidden on this website are a number of riddles that are meant for other programmers or nerds.
            </p>
        </details>

        <details>
            <summary><i>Mass Move Minion Magic</i> - <span>A game about summoning minions and solving puzzles</span>
            </summary>
            <p class="centered-link-list">
                <a href="https://github.com/jbettaque/ldjam55" rel="external">GitHub</a>
            </p>
            <p>
                In <i>Mass Move Minion Magic</i> you summon minions and steer them through puzzles in your different
                chambers.
                The catch? You control all minions at the same time.
            </p>
            <p>
                This game was made in the context of the <a href="https://ldjam.com/events/ludum-dare/55"
                    rel="external">Ludum Dare 55</a> GameJam.
                This means that the total development time was limited to only 72 hours, and we also created all the assets
                ourselves.
            </p>
            <p>
                <b>Play it now</b> on the <a href="https://github.com/jbettaque/ldjam55/releases/latest/"
                    rel="external">latest release page</a>!
            </p>
            <figure>
                <div style="display: flex; flex-wrap: wrap; gap: 1rem;">
                    <img width="450" src="/static/assets/ldjam55/screenshot_3_resized.png">
                    <img width="450" src="/static/assets/ldjam55/screenshot_1_resized.png">
                    <img width="450" src="/static/assets/ldjam55/screenshot_2_resized.png">
                </div>
                <figcaption style="text-align: center">Three screenshots of the game</figcaption>
            </figure>
        </details>

        <details>
            <summary>Ideas & Future Projects</summary>
            <p>
                Here's an incomplete list of things I plan to do or think would be a cool project eventually in no particular order.
                If someone wants to participate, feel free to get in touch :)
            </p>
            <ul class="list-with-item-titles">
                <li>
                    <span>A Blog</span>
                    <span>Somewhere I can write about stuff in more detail</span>
                </li>

                <li>
                    <span>Microblogging Stuff</span>
                    <span>
                        There are some standards like WebMention which sound pretty interesting.
                        I want to see if I can integrate that or PubSub into the blog mentioned above.
                    </span>
                </li>

                <li>
                    <span>plakatspotter.de</span>
                    <span>
                        A platform to crowdsouorce statistics about which political party hangs up which voting posters
                        where and when.
                        I'm interested to find out if certain poster campaigns can be associated with e.g. city districts, average income etc.
                        (It would also be kinda neat to know where the so called "AfD" has posters)
                    </span>
                </li>

                <li>
                    <span>Virtualization with systemd-vmspawn</span>
                    <span>I've read about this in the systemd release not and it sounds interesting so I want to see if it's any good</span>
                </li>

                <li>
                    <span>OpenStreetMap TileServer but with SVG tiles</span>
                    <span>
                        Last time I looked, the OpenStreetMap tile servers were outputting pre-rendered tiles as PNGs.
                        This is not very flexible becaue there are only a few themes and some knobs to turn when requesting such map data.<br>
                        I want to revive an old project of a friend of mine (<a rel="external" href="https://github.com/Map-Data">Map-Data</a>) which solves this by using a TileServer that serves tiles as SVGs.
                    </span>
                </li>

                <li>
                    <span>IP over Pixelflut</span>
                    <span>
                        A custom IP stack using pixelflut as the underlying link layer.
                        A pixel map is basically a byte buffer anways right?!?
                    </span>
                </li>

                <li>
                    <span>Microcontroller & LED shenanigans</span>
                    <span>The usual. I want things to be sparkly and freshen up my soldering skills.</span>
                </li>
            </ul>
        </details>
    {% endcall %}
</main>
{% endblock %}
