{% extends "base.html" %}

{% block html_head_extra %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block main %}
  <main>
    <p>
      This page only serves to test my webmention implementation against <a href="https://webmention.rocks/" rel="external">webmention.rocks</a>.
    </p>
    <ul>
      <li><a href="https://webmention.rocks/test/1" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/2" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/3" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/4" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/5" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/6" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/7" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/8" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/9" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/10" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/11" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/12" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/13" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/14" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/15" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/16" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/17" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/18" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/19" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/20" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/21" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/22" rel="external">Webmention Test Link</a></li>
      <li><a href="https://webmention.rocks/test/23" rel="external">Webmention Test Link</a></li>
    </ul>
  </main>
{% endblock %}
