{% extends "base.html" %}

{% block main %}
    <main>
        {% call utils.cmd("cat", request.path) %}
            <div class="warning">
                <div>
                    <h1>404 - Not Found</h1>
                    <p>

                        There is no content at <span class="accent">{{ request.path }}</span>.
                        Try one of the linked pages in the navigation bar instead.
                    </p>
                </div>
            </div>
        {% endcall %}
    </main>
{% endblock %}
