<!doctype html>
<html lang="en">

{% block html_head %}
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/svg+xml" href="/static/assets/poly_fox.webp"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Finn Sell</title>

        {% block html_head_extra %}{% endblock %}

        <link rel="preload" href="/static/assets/VT323-Regular.ttf" as="font" type="font/ttf" crossorigin>
        <link rel="preload" href="/static/assets/CascadiaCode.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" href="/static/styles/color_scheme.css">
        <link rel="stylesheet" href="/static/styles/animations.css">
        <link rel="stylesheet" href="/static/styles/fonts.css">

        {% block extra_style %}{% endblock %}
    </head>
{% endblock %}

<body>

{% block header %}
    <header>
        <nav>
            <div class="shell command">
                <div>$</div>
                <div style="width: 100%">
                    <span>ls /nav/</span>
                    <ul class="centered-list">
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/cv.html">CV</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                        <li role="separator" style="flex-grow: 1"></li>
                        <li><a href="/legal.html">Legal</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
    <footer>
        <div class="shell command">
            <div>$</div>
            <div>
                <span>ls /friends/</span>
                <ul class="centered-list">
                    {% for friend in friends %}
                        <li><a href="{{ friend.url }}" rel="external">{{ friend.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <p class="shell cursor" aria-hidden="true">
            <span>$</span>
            <span></span>
        </p>
    </footer>
{% endblock %}

</body>
</html>
