{% import "utils.j2" as utils with context -%}

<!doctype html>
<html lang="en">
{% block html_head -%}
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/webp" href="/static/assets/poly_fox.webp"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% if title is defined %}{{ title }} – {% endif %}Lilly Sell</title>

        <link rel="stylesheet" href="/static/assets/inter-font/inter.css">
        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" title="Ayu Mirage" href="/static/styles/color-schemes/ayu-mirage.css">
        <link rel="alternate stylesheet" title="Dehydration" href="/static/styles/color-schemes/dehydration.css">
        <link rel="alternate stylesheet" title="Monokai Pro" href="/static/styles/color-schemes/monokai-pro.css">
        <link rel="alternate stylesheet" title="Sparky" href="/static/styles/color-schemes/sparky.css">

        <link rel="alternate" type="application/rss+xml" href="/blog/feed.rss" title="Lillys Thoughts (RSS)">
        <link rel="alternate" type="application/atom+xml" href="/blog/feed.atom" title="Lillys Thoughts (Atom)">

        <link rel="external me" href="https://chaos.social/@lilly">

        {% block html_head_extra %}{% endblock -%}
    </head>
{% endblock -%}

<body>

{%- block header %}
    <header>
        <nav>
            {% call utils.cmd("ls", "/nav/") %}
                <ul id="navbar">
                    <li>{{ utils.anchor("/index.html", "Home") }}</li>
                    <li>{{ utils.anchor("/cv.html", "CV") }}</li>
                    <li>{{ utils.anchor("/projects.html", "Projects") }}</li>
                    <li>{{ utils.anchor("/blog/", "Thoughts", matchAlg="prefix") }}</li>
                    <li class="legal">{{ utils.anchor("/legal.html", "Legal") }}</li>
                </ul>
            {% endcall %}
        </nav>
    </header>
{% endblock -%}

{%- block main -%}
{%- endblock -%}

{%- block footer %}
    <footer>
        {% call utils.cmd("ls", "/friends/") %}
            <ul id="friend-list">
                {% for friend in friends %}
                    <li><a href="{{ friend.url }}" rel="external">{{ friend.name }}</a></li>
                {% endfor %}
            </ul>
        {% endcall %}
    </footer>
{% endblock -%}
</body>
</html>
