{% macro anchor(url, name, attrs="", matchAlg="same") -%}
    <a href="{{ url }}"
       {%- if matchAlg == "same" and request.url.path == url %}class="trans-underline" aria-current="page"
       {%- elif matchAlg == "prefix" and request.url.path.startswith(url) %} class="trans-underline" aria-current="page"
       {%- endif -%}
            {{ attrs }}>
        {{ name }}
    </a>
{%- endmacro %}

{% macro cmd(cmd, args) -%}
    <div class="cmdline">
        <span class="caret">&gt;</span><span class="cmd">{{ cmd }}</span><span class="args">{{ args }}</span>
    </div>
    <div class="cmd-result">
        {{ caller() }}
    </div>
{%- endmacro %}

{% macro h2(linkTarget) -%}
    <h2>
        <span>{{ caller() }}</span>
        <a href="#{{ linkTarget }}" title="Link to this section">#</a>
    </h2>
{%- endmacro %}
