@use "src/styles/colors";

@mixin shadow(
  $thickness: 2px,
  $inverse: false,
  $shadow_color: colors.get_color("shadow"),
  $raised_color: colors.get_color("shadow-raised"),) {
  border: $thickness solid;
  @if ($inverse) {
    border-top-color: $shadow_color;
    border-left-color: $shadow_color;
    border-right-color: $raised_color;
    border-bottom-color: $raised_color;
  }
  @else {
    border-top-color: $raised_color;
    border-left-color: $raised_color;
    border-right-color: $shadow_color;
    border-bottom-color: $shadow_color;
  }
}
