.draft-warning {
    border: 2px solid orange;
    padding: 0.5em;
    color: darkorange;
    text-align: center;
    font-size: large;
    margin: 0em 0;
}

.article-metadata>ul {
    font-style: italic;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "author tags"
        ". date";
    gap: 0.2em 1em;
    justify-content: space-between;

    .author {
        grid-area: author;
    }

    .tags {
        grid-area: tags;

        ul {
            list-style: none;
            display: flex;
            justify-content: end;
        }
        a {
            color: var(--accent-color);
        }
    }

    .date {
        grid-area: date;
    }
}

.tag {
    color: var(--accent-color);
}
