<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ static("homepage/favicon.ico") }}">
  <link rel="stylesheet" href="{{ static("homepage/styles/main.css") if DEBUG else static("homepage/styles/dist.css") }}">
  <link rel="webmention" href="{{ url("webmention-endpoint") }}">
  <title>{{ title | default("Lillys Homepage") }}</title>
  <script type="speculationrules">{% include "homepage/speculationrules.json" %}</script>
  {% block html_head_extra %}{% endblock %}
</head>
<body class="flow">
  <header>{% include "homepage/components/navbar.html" %}</header>
  {% block html_body_extra_pre %}{% endblock %}
  <main class="flow">{% block html_main %}{% endblock %}</main>
  <footer>{% include "homepage/components/footer.html" %}</footer>

  {% block html_body_extra_post %}{% endblock %}
</body>
</html>
