{% extends "homepage/base.html" %}
{% from "homepage/macros.html" import anchor, command, titled_section %}

{% block html_head_extra %}
  <meta name="description" content="Personal Homepage of Lilly, computer science student, activist, hacker and SysAdmin.">
{% endblock %}

{% block html_main %}
  {% call command("cat /index.html") %}
    {% call titled_section("Hello World!", with="h2") %}
      <p class="mt-4">
        This is the personal homepage of me, Lilly.
        I'm a professional computer toucher, formerly at the University of Hamburg, now mainly at CCCHH and B1-Systems.
        My expertise and interests are activism, System Administration and Automation, Networking (the computer as well
        as the people kind) and creating fun applications for whatever seems useful.
        Additionally, I like learning things about privacy, security and how computers work from the ground up.
      </p>
    {% endcall %}

    {% call titled_section("Contact", with="h2", class="mt-12") %}
      <p class="mb-3 mt-4">I can be reached and found on any of these platforms:</p>
      <ul class="list-disc pl-8">
        <li>Email: <a href="mailto:li@lly.sh">li@lly.sh</a></li>
        <li>Matrix: <a href="https://matrix.to/#/@17sell:mafiasi.de">@17sell:mafiasi.de</a></li>
        <li>GitHub: <a href="https://github.com/lilioid">lilioid</a></li>
        <li>Mastodon: <a href="https://chaos.social/@lilly">@lilly@chaos.social</a></li>
        <li>Pixelfed: <a href="https://dogo.pictures/lilly">@lilly@dogo.pictures</a></li>
      </ul>
    {% endcall %}

    {% call titled_section("Projects", with="h2", class="mt-12") %}
      <p class="my-4">
        I do have a more detailed
        <NuxtLink :to="{ name: 'projects' }">list of projects</NuxtLink>
        available here's a quick list of the most notable ones.
      </p>

      <div class="pl-8">
        <details class="mb-4">
          <summary><i>py_simple_openid_connect</i> - <span>Simple and opinionated OpenID Connect client library</span>
          </summary>
          <ul class="flex justify-around m-4 ml-8">
            <li><a href="https://github.com/fsinfuhh/py_simple_openid_connect/" >GitHub</a></li>
            <li><a href="https://simple-openid-connect.readthedocs.io/en/stable/" >Documentation</a></li>
            <li><a href="https://pypi.org/project/simple_openid_connect/" >PyPi Page</a></li>
          </ul>
          <p class="m-4 mb-8">
            This library implements the <i>Relying Party</i> and <i>Resource Server</i> parts of the OpenID
            Connect specification. It provides integrations into Django and Django-Rest-Framework, supports
            most commonly used OpenID Connect features but is designed to be as easy to use and understand as
            possible.
          </p>
        </details>

        <details class="mb-4">
          <summary><i>Pixelflut</i> - <span>A pixel drawing game for programmers</span></summary>
          <ul class="flex justify-around m-4">
            <li><a href="https://github.com/lilioid/pixelflut" >GitHub</a></li>
          </ul>
          <p class="m-4">
            Pixelflut is a game for programmers and other technical minded people in which bots are used to
            collaboratively or competitively draw on a shared canvas.
          </p>
          <p class="m-4 mb-8">
            There is also a dedicated <a href="/pixelflut.html">pixelflut site</a> available which has more information
            on how to participate and on which the current canvas content is always live-streamed.
          </p>
        </details>

        <details>
          <summary><i>Mafiasi</i> - <span>Web-Services for university students</span></summary>
          <ul class="flex justify-around m-4">
            <li><a href="https://mafiasi.de" >Website</a></li>
            <li><a href="https://github.com/fsinfuhh/mafiasi" >Source Code</a></li>
          </ul>
          <p class="m-4">
            <i>mafiasi.de</i> is a website that offers various web based
            services
            for computer science students of the Universität Hamburg.<br/>
          </p>
        </details>
      </div>
    {% endcall %}
  {% endcall %}
{% endblock %}
