{% macro anchor(href, text="", rel="", target="", class="") -%}
  <a href="{{ href }}" {% if rel %}rel="{{ rel }}"{% endif %} target="{{ target }}" class="{{ class }}">{% if caller %}{{ caller() }}{% else %}{{ text }}{% endif %}</a>
{%- endmacro -%}

{% macro command(cmd, class="") -%}
  <div class="{{ class }}">
    <p class="my-0 font-mono">
      <span class="text-blue1 font-bold">></span>
      <span class="text-green1">{{ homepage.split_cmd(cmd)[0] }} </span>
      <span class="text-yellow1">{{ homepage.split_cmd(cmd)[1] }}</span>
    </p>
    <div class="ml-[2ch]">
      {{ caller() }}
    </div>
  </div>
{%- endmacro -%}

{% macro titled_section(title, with, class="") -%}
  <section id="{{ title | urlsafe_title }}" class="{{ class }} target:animate-highlight">
    {% set styles = {
      "h1": "font-black text-3xl",
      "h2": "font-extrabold text-2xl",
      "h3": "font-bold text-xl",
      "h4": "font-semibold text-lg",
      "h5": "",
    } -%}
    <{{ with }} class="{{ styles[with] }} my-2">
      <span>{{ title }}</span>
      <span class="ml-1"><a href="#{{ title | urlsafe_title }}">#</a></span>
    </{{ with }}>

    {{ caller() }}
  </section>
{%- endmacro -%}

{% macro dialog() %}
  <dialog open closedby="any" class="hidden sm:open:block fixed bottom-6 right-6 left-auto max-w-128 select-none shadow-xl shadow-white1 text-white1 bg-black2">
    <form method="dialog">
      <button formmethod="dialog" class="cursor-pointer p-2">
        {{ caller() }}
      </button>
    </form>
  </dialog>
{% endmacro %}
