{% macro anchor(href, text="", rel="", target="", class="") -%}
  <a href="{{ href }}" {% if rel %}rel="{{ rel }}"{% endif %} target="{{ target }}" class="{{ class }}">{% if caller %}{{ caller() }}{% else %}{{ text }}{% endif %}</a>
{%- endmacro -%}

{% macro command(cmd, class="") -%}
  <div class="{{ class }} command">
    <p>
      <span>></span>
      <span>{{ homepage.split_cmd(cmd)[0] }} </span>
      <span>{{ homepage.split_cmd(cmd)[1] }}</span>
    </p>
    <div class="flow">
      {{ caller() }}
    </div>
  </div>
{%- endmacro -%}

{% macro titled_section(title, with, class="", style="") -%}
  <section id="{{ title | urlsafe_title }}" class="{{ class }} titled-section flow target:animate-highlight" style="{{ style }}">
    {% set styles = {
      "h1": "font-black text-3xl",
      "h2": "font-extrabold text-2xl",
      "h3": "font-bold text-xl",
      "h4": "font-semibold text-lg",
      "h5": "",
    } -%}
    <{{ with }} class="{{ styles[with] }} my-2">
      <span>{{ title }}</span>
      <span class="ml-1"><a href="#{{ title | urlsafe_title }}">#</a></span>
    </{{ with }}>

    {{ caller() }}
  </section>
{%- endmacro -%}

{% macro dialog(style="") %}
  <dialog open closedby="any" class="floating-dialog" style="{{ style }}">
    <form method="dialog">
      <button formmethod="dialog">
        {{ caller() }}
      </button>
    </form>
  </dialog>
{% endmacro %}

{% macro tone(short, long) -%}
  <span class="tone-indicator" title="Tone Indicator: {{ long }}">/{{ short }}</span>
{% endmacro -%}

{% macro todo(txt="") -%}
  <span class="todo-note">TODO: {{ txt }}</span>
{% endmacro -%}
