:root {
  --color-background: #333333;
  --color-foreground: #CCCCCC;
  --color-cursor: #CCCCCC;
  --color-black1: #333333;
  --color-black2: #666666;
  --color-red1: #FF5555;
  --color-red2: #FF8080;
  --color-green1: #5FD38D;
  --color-green2: #87DEAA;
  --color-yellow1: #FF9955;
  --color-yellow2: #FFB380;
  --color-blue1: #3771C8;
  --color-blue2: #5F8DD3;
  --color-magenta1: #BC5FD3;
  --color-magenta2: #CD87DE;
  --color-cyan1: #5FD3BC;
  --color-cyan2: #87DECD;
  --color-white1: #999999;
  --color-white2: #CCCCCC;
}
