<div id="desktop-root">
    <app-widget-cv
            [autOpen]="true"
            posX="4vw"
            posY="7vh"
    ></app-widget-cv>

    <app-widget-contact
            [autOpen]="true"
            posX="40vw"
            posY="13vh"
            width="550px"
    ></app-widget-contact>

    <app-widget-coding
            [autOpen]="true"
            posX="10vw"
            posY="23vh"
            width="1000px"
    ></app-widget-coding>

    <app-widget-imprint
            posX="51vw"
            posY="2vh"
            width="1200px"
    ></app-widget-imprint>
</div>
