<div class="no-mobile">
    <div #desktop id="desktop-root">
        <app-widget
            [autOpen]="true"
            title="Curriculum Vitae"
            icon="user-circle"

            posX="4vw"
            posY="7vh"

            [bounds]="desktop"
        >
            <app-cv></app-cv>
        </app-widget>

        <app-widget
            [autOpen]="true"
            title="Contact"
            icon="address-book"

            posX="40vw"
            posY="13vh"
            width="580px"

            [bounds]="desktop"
        >
            <app-contact></app-contact>
        </app-widget>

        <app-widget
            title="Coding"
            icon="code"

            posX="13vw"
            posY="23vh"
            width="1000px"
            height="75vh"

            [autOpen]="false"

            [bounds]="desktop"
        >
            <app-coding></app-coding>
        </app-widget>

        <app-widget
            title="Imprint"
            icon="gavel"

            posX="51vw"
            posY="2vh"
            width="1200px"

            [bounds]="desktop"
        >
            <app-imprint></app-imprint>
        </app-widget>

        <app-windows-update
            [waitTime]="1"
            [bounds]="desktop"
        ></app-windows-update>
    </div>

    <app-taskbar></app-taskbar>
</div>



<div class="mobile-only">
    <div id="mobile-root">

        <p id="m-title">Explorer.exe</p>
        <p>This Finndows application has stopped responding to the system.</p>

        <ul id="m-info-list">
            <li>Name: Finn-Thorben Sell</li>
            <li>Birth: 1998</li>
            <li>
                 <a href="mailto:contact@finn-thorben.me" class="m-link">
                 <i class="fa fa-envelope-o"></i> contact@finn-thorben.me</a>
            </li>
        </ul>

        <p>Error: DIS: PLAY: TOO: SM: ALL;</p>
        
    </div>
</div>
