:host {
    overflow: hidden;
}

#desktop-root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: block;

    background: rgb(0, 123, 123);
}


/* ---- Mobile setup ---- */
@media (max-width: 1000px) {
    .no-mobile {
        display: none !important;
    }
}

@media (min-width: 1000px) {
    .mobile-only {
        display: none !important;
    }
}
