/*
CSS Reset stuff
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

details {
    margin-bottom: 0.3em;
}

/*
Layout
 */
body {
    height: 100vh;
    max-width: 1200px;
    padding-top: 1rem;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

main {
    flex-grow: 1;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 0.3em;
}

/*
    Accessibility related styles
 */
a[rel~="external"]:after {
    content: "↗";
}

details {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
}

details[open] {
    margin-bottom: 32px;
}

details > :not(summary) {
    padding-left: 1.5em;
}

details > summary {
    cursor: pointer;
}

/*
    Common Styles used all over
 */
.shell {
    font-family: VT323, monospace;
    color: var(--fg-color-light);
    font-size: x-large;
}
.shell a[rel~="external"]:after {
    font-size: small;
}
.command {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: flex-start;
}
.command > :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.command > :nth-child(2) > * {
    padding: 0;
    margin: 0;
}
.command > :first-child {
    color: var(--green1);
}

.centered-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 16px;
    list-style-type: none;
}

a.section-link {
    color: var(--fg-color-light);
    cursor: pointer;
    text-decoration: none;
}
a.section-link:hover {
    text-decoration: underline;
}

a.trans-underline {
    text-decoration: none;
}
.trans-underline {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, #5bcefa 20%, #f5a9b8 20%, #f5a9b8 40%, #ffffff 40%, #ffffff 60%, #f5a9b8 60%, #f5a9b8 80%, #5bcefa 80%, #5bcefa 100%) 1;
}

:root {
    font-family: "Cascadia Code", sans-serif;
}
