@font-face {
    font-family: VT323;
    src: local("VT323"), url("/static/assets/VT323-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Cascadia Code";
    src: local("Cascadia Code"), url("/static/assets/CascadiaCode.woff2");
    font-display: swap;
}
