/*
values taken from vuetify https://vuetifyjs.com/en/features/breakpoints/#breakpoint-service
*/
@media (max-width: 599px) {
	html {
		--display-breakpoint: xs;
	}

	.only-mobile {
	}

	.non-mobile {
		display: none !important;
	}
}

@media (min-width: 600px) and (max-width: 959px) {
	:root {
		--display-breakpoint: sm;
	}

	.only-mobile {
	}

	.non-mobile {
		display: none !important;
	}
}

@media (min-width: 960px) and (max-width: 1263px) {
	:root {
		--display-breakpoint: md;
	}

	.only-mobile {
		display: none !important;
	}

	.non-mobile {
	}
}

@media (min-width: 1264px) and (max-width: 1903px) {
	:root {
		--display-breakpoint: lg;
	}

	.only-mobile {
		display: none !important;
	}

	.non-mobile {
	}
}

@media (min-width: 1904px) {
	:root {
		--display-breakpoint: xl;
	}

	.only-mobile {
		display: none !important;
	}

	.non-mobile {
	}
}
