{% extends "base.html" %}

{% block html_head_extra %}
<meta name="description" content="{{ article.short_desc }}">
<link rel="stylesheet" href="/static/styles/blog/[article].css">
{% endblock %}

{% block main %}
<main>
    {% call utils.cmd("cat", "/blog/" + article.ref) %}
        <article>
            <h1>{{ article.title }}</h1>
            <section id="article-metadata">
                <ul>
                    <li id="author">
                        <span>by</span>
                        <span>{{ article.author }}</span>
                    </li>
                    <li id="created-at">
                        <span>Written on</span>
                        <time datetime="{{ article.created_at.isoformat() }}">{{ article.created_at.strftime("%d.%m.%Y at %H:%m") }}</time>
                    </li>
                    <li id="tags">
                        <ul>
                            {% for i_tag in article.tags %}
                            <li>
                                <a href="#">#{{ i_tag }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </section>

            {% if article.is_draft -%}
            <div class="draft-warning">This article is still a draft</div>
            {%- endif %}

            <div class="article-content">
                {{ article.body_html | safe }}
            </div>
        </article>
    {% endcall %}
</main>
{% endblock %}
