{% extends "base.html" %}
{% import "blog/blog_utils.j2" as blog_utils -%}

{% block html_head_extra %}
    <link rel="stylesheet" href="/static/styles/blog/blog_common.css">
    <link rel="stylesheet" href="/static/styles/blog/index.css">
    <meta name="description" content="Index page of my personal blog">
{% endblock %}

{% block main %}
    <main>
        {% call utils.cmd("ls", "/blog/") %}
            <h1>Blog Index</h1>
            <p>
                This page contains an overview over all articles written as part my blog.
                Feel free to browse around and read however much you like.
                It's free.
            </p>
            <p>
                Since the articles are categorized in tags, an overview over all currently used tags can be found in the <a href="./tag-index.html">tag index</a>.
            </p>

            {% if articles | length > 0 %}
            <ol id="article-list">
                {% for i_article in articles %}
                <li>
                    <h2><a href="/blog/{{ i_article.ref }}.html">{{ i_article.title }}</a></h2>
                    {{ blog_utils.article_metadata(i_article) }}
                    <p class="short-desc">
                        {{ i_article.short_desc }}
                    </p>
                </li>
                {% endfor %}
            </ol>
            {% else %}
                <div class="warning">
                    <p>
                        There are no posts matching the filter <span class="tag">#{{ tag_filter }}</span>.
                        Try <a href="./">removing the filter</a> to see all posts.
                    </p>
                </div>
            {% endif %}
        {% endcall %}
    </main>
{% endblock %}
