{% extends "base.html" %}

{% block html_head_extra %}
    <link rel="stylesheet" href="/static/styles/blog/blog_common.css">
    <link rel="stylesheet" href="/static/styles/blog/tag-index.css">
    <meta name="description" content="Index of all the tags used in my personal blog">
{% endblock %}

{% block main %}
    <main>
        {% call utils.cmd("find", "/blog/ -exec cat {} + | jq .tags | uniq") %}
            <h1>Tag Index</h1>

            <ul id="tag-list">
                {% for (i_tag, i_count) in known_tags.items() %}
                    <li>
                        <a class="tags" href="./index.html?tag={{ i_tag }}">#{{ i_tag }}</a> ({{ i_count }} articles)
                    </li>
                {% endfor %}
            </ul>
        {% endcall %}
    </main>
{% endblock %}
