table {
    margin-top: 16px;
}
td, th {
    border: 1px solid grey;
    padding: 4px 12px;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    gap: 1em 1.5em;
    margin: 2em;
    align-items: center;
}
.skills-container > *:nth-child(2) {
    margin-right: 6em;
}

.skill-indicator .indicator-border {
    font-weight: bold;
}
.skill-indicator .indicator-value {
    display: inline-block;
    width: 3em;
    text-align: end;
}
.skill-indicator pre {
    display: inline-block;
    margin: 0;
    font-family: monospace;
    font-size: x-large;
    color: var(--green1);
}
