code {
    font-size: large;
}

#pixelflut-livestream {
    display: flex;
    justify-content: center;
}

#pixelflut-livestream > iframe {
    border: none;
    width: 800px;
    height: 600px;
    max-height: 70vw;
}
