<div #widgetRoot class="widget"
     [ngStyle]="{'left': posX, 'top': posY, 'z-index': desktopService.getPosition(this)}"
     *ngIf="desktopService.isOpen(this)"
     [class.selected]="desktopService.isTopWidget(this)"
     (mousedown)="desktopService.open(this)"
     [ngDraggable]="dragEnabled"
     [handle]="handle"
     [bounds]="bounds"
     [inBounds]="true"
>
    <div #handle class="topbar">
        <div #controlButtoncontainer class="control-buttoncontainer" (click)="desktopService.close(this)">
            <fa name="times"></fa>
        </div>
        <h1 class="no-select">{{title}}</h1>
    </div>

    <div class="body" [ngStyle]="{'width': width, 'height': height}">

        <h2 style="color: red; padding: 0; margin: 0; font-size: x-large;"
        >Restart your Computer to finish installing important updates.</h2>
        <p>Windows can't update important files and services while the System is using them. Make sure to safe your
            files before restarting.</p>
        <a href="/verysecretriddles/windowsupdate.php">
            <button class="float-right">Restart now</button>
        </a>
        <button class="float-left" (click)="postpone()">Postpone ({{postponeTime / 60 / 60}}h)</button>

    </div>

</div>
